*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
    ;
}
section{
    width: 100%;
    height: 100vh;
    background-color: #1F4B43;
    display: flex;
}
.account {
    
    width: 50%;
    height: 100vh;
}
.account img {
    width: 130px;
    height: 100px;
    color: white;
}
.account p {
    margin-left: 50px;
    width: 600px;
    height: 140px;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 60px;
}
.accountRight {
    width: 50%;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.CreateAccountStart {
   font-size: 40px;
   font-family: "Roboto", sans-serif;
   color: black;
   font-weight: 400;

}
.Abstraction {
    width: 636px;
    height: 658px;
    bottom: 60px;
    position: absolute;
    left: 400px;
}

.Abstraction img{
    width: 636px;
    height: 658px;
}
.accountIcons {
    display: flex;
    gap: 130px;
}
.accountIconsGoogle a{
    display: flex;
    gap: 10px;
    

}
.fa-google {
    color: blue;
}
.accountIconsGoogle {
    border: solid 2px #D8D3D3;
    padding: 15px 20px;
    border-radius: 10px;
}
.accountIconsGoogle a p {
    font-size: 16px;
    color: #5C5C5C;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.accountIconsFacebook {
    border: solid 2px #D8D3D3;
    padding: 15px 20px;
    border-radius: 10px;
}


.accountIconsFacebook a {
    display: flex;
}
.accountIconsFacebook a p {
    font-size: 16px;
    color: #5C5C5C;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}
.fa-square-facebook {
    color: blue;
}
.accountCreat {
   
    display: flex;
    flex-direction: column;
    text-align: center;
}
.accountCreat form {
    
    display: flex;
    flex-direction: column;
    gap: 10px   ;

}
form input {
    width: 560px;
    height: 50px;
    border: none;  
    border-bottom: solid 2px #D8D3D3;
    padding: 20px ;
    background: transparent;
    
    
}
form input:focus {
    outline: none;
}
.password {
    position: relative;
}
.fa-eye-slash {
    font-size: 20px;
    color: #D8D3D3;
    position: absolute;
    right: 10px;
    top: 20px;
}
form button {
    border: none;
    border-radius: 10px;
    background-color: #1F4B43;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.or {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}
.LogIn {
    margin-top: 50px;
     font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6B6A6A;

}
@media only screen and (max-width:1440px) {
    .Abstraction {
        top: 100px;

    }
    .Abstraction img {
        width: 400px;
        height: 400px;
    }
}
@media only screen and (max-width:1024px) {
    .accountIcons {
        gap: 20px;
    }
    .account p {
        width: 350px;
    }

}
@media only screen and (max-width:768px) {
    .Abstraction {
        display: none;
    }
    .account {
        display: none;
    }
    .accountRight {
        width: 100%;
        border-radius: 0%;
    }

}
@media only screen and (max-width:480px) {
    .accountCreat {
        width: 100%;
    }
    form input {
        width: 100%;
    }
        .accountRight {
            padding: 10px;
        }

}


