@media only screen and (max-width:1380px) {
    .nav-links {
        display: none;
    }
    .navIcons {
        display: none;
    }
    .mediaNav {
        display: block;
    }
    .fa-bars {
        font-size: 30px;
        color: black;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
}
@media only screen and (max-width:1024px) {
    .search-box {
        width: 90%;
    }

}
@media only screen and (max-width:768px){
    .bestHome {
        width: 95%;
    }
    .KeyywordSearch{
        width: 100%;
        padding: 10px;
    }
    .Keyyword {
        width: 150px;
    }
    .Type{
        width: 150px;
    }
}
@media only screen and (max-width:480px) {
    .Enjoy {
        font-size: 40px;
    }
    .KeyywordSearch{
     height: 300px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
}